*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
}

* {
  font-family: Fondamento;
}

@media (max-width: 790px) {
  html {
    --spacing: 1.5rem;
  }
}

body {
  width: 100vw;
  height: 100dvh;
  background-color: black;
  margin: auto;
  display: flex;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.canvas-container {
  width: 100vw;
  height: 100dvh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

#display-canvas:hover {
  cursor: grab;
}

#display-canvas:active {
  cursor: grabbing;
}

#display-canvas:focus-visible {
  outline: none;
}

/* TIMEOUT OVERLAY */

.timeout-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 50;
}

.timeout-overlay .inactive-message,
.timeout-overlay .disconnected-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.timeout-overlay button {
  background-color: red;
  color: #444;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

#overlay>* {
  position: absolute;
}

.hey-text {
  white-space: nowrap;
  font-size: 1.2rem;
}

@keyframes bounce-horizontal {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(100px);
  }

  66% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-vertical {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-100px);
  }

  66% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes move-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100px);
  }
}

@keyframes move-left {
  from {
    transform: rotate(180deg) translateX(0) !important;
  }

  to {
    transform: rotate(180deg) translateX(-100px) !important;
  }
}

@keyframes hover-vertical {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }

  50% {
    transform: translate(-50%, -50%) translateY(5px);
  }

  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}

/*------------------------------------------------*/
/*---------        LOADING SCREEN        ---------*/
/*------------------------------------------------*/

#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
}

#loading-screen>img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}

.loading-text {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  color: white;
  text-align: center;
  font-size: 3rem;
}


/*------------------------------------------------*/
/*---------        START BUTTON        ---------*/
/*------------------------------------------------*/
#start-game {
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

#start-game button {
  background-color: red;
  color: #444;
  font-weight: bold;
  font-size: 3rem;
  padding: 1rem 2.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}